body {
    padding-top: 70px;
}
h1 { text-align: center; }
h1 small { display: block; }
#banner {
    height: 460px;
    background: url("/images/skull.png") right 183px no-repeat;
    background-size: 200px;
    margin-bottom: 30px;
}
#logo {
    display: block;
    margin: auto;
}
#content, #content .left {
    height: 715px;
}
#content .left {
    background: url("/images/info.png") center 20px no-repeat;
    background-size: 180px;
}
